Repository scalacenter/scalac-profiling, pull requests merged in 2024-07, with the labels that each got.

#129 Use Scala versions matrix for running tests in CI
  .github/workflows/ci.yml
Labels: behind-the-scenes

#127 Add `cross-target` compiler plugin option
  docs/user-guide/installation.md
  plugin/src/main/scala/ch/epfl/scala/PluginConfig.scala
  plugin/src/main/scala/ch/epfl/scala/ProfilingPlugin.scala
Labels: docs, scalac-profiling

#133 re-add code tracking macroExpand times
  plugin/src/main/scala/ch/epfl/scala/profilers/ProfilingImpl.scala
Labels: scalac-profiling
