Repository scalacenter/scalac-profiling, pull requests merged in 2024-09, with the labels that each got.

#138 Add Scala 2.12.20 support
  .github/workflows/ci.yml
  build.sbt
  plugin/src/main/scala-2.12.19/ch/epfl/scala/profilers/tools/SettingsOps.scala
  plugin/src/main/scala-2.12.20/ch/epfl/scala/profilers/tools/SettingsOps.scala
Labels: scalac-profiling

#139 Reverse the order of supported Scala versions on the site
  docs-gen/src/main/scala/ch/epfl/scala/profiling/Docs.scala
Labels: behind-the-scenes

#142 Update README.md to 1.1.0 instead of 1.1.0-RC
  README.md
Labels: docs
